*{
    font-family: 'Manrope', sans-serif;

}

body{
    background-color: #0f0f0f;
    color: #f2f2f2;
    font-family: "Manrope", sans-serif;
}

.under-construction{
    text-align: center;
    margin-top: 10rem;
    font-size: 2rem;
    color: #dadada;
}

.back {
  display: block;
  /* margin: 20px; */
  margin-top: 1rem;
  color: #5895ff;
  text-decoration: none;
}